<div class="offline" *ngIf="!(isOnline$ | async)">
  You are offline, content may be out of date
</div>
<div class="buttons">
  <button class="nav-btn" (click)="navigateTo('home')" [class]="{'color-accent': currentPageIs('home')}">
    <i class="material-icons" [class]="{'color-accent': currentPageIs('home')}">
      home
    </i>
    Home
  </button>
  <button class="nav-btn" *ngIf="isLoggedIn$ | async" (click)="navigateTo('calendar')" [class]="{'color-accent': currentPageIs('calendar')}">
    <i class="material-icons" [class]="{'color-accent': currentPageIs('calendar')}">
      date_range
    </i>
    Calendar
  </button>
  <button class="nav-btn" *ngIf="isLoggedIn$ | async" (click)="navigateTo('manage')" [class]="{'color-accent': currentPageIs('manage')}">
    <i class="material-icons" [class]="{'color-accent': currentPageIs('manage')}">
      settings
    </i>
    Manage
  </button>
</div>
