:host {
  display: flex;
  width: 100%;
  /* this max-height is because the popup-container has a bottom position of 10vh
  & we don't want content in the popup getting clipped off
  see base.css --navbar-height */
  max-height: 10vh;
  position: absolute;
  bottom: 2px; /* raise by 2px because of the box shadow */
  z-index: 4;
  flex-direction: column;
  background-color: var(--bg-primary);
}

.offline {
  padding: 0.25rem 0.3125rem;
  text-align: center;
  color: var(--color-black);
  background-color: var(--color-orange);
}

.buttons {
  display: flex;
  padding-left: 3vw;
  padding-right: 3vw;
  justify-content: space-evenly;
  border-top: 1px solid var(--bg-muted);
  box-shadow: var(--drop-shadow);
}

.buttons .nav-btn {
  display: flex;
  padding: 0.75rem 1vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-primary);
}

.buttons .nav-btn:hover {
  background-color: var(--bg-secondary);
}

.buttons .nav-btn + .nav-btn {
  margin-left: 0.75rem;
}

.nav-btn i {
  font-size: 1.5rem !important;
}
