<div class="list-item bg-secondary" (click)="pushView({name: 'account'})">
  Your Account
</div>
<div class="list-item bg-secondary" (click)="pushView({name: 'calendars'})">
  Academic Calendars
</div>
<div class="list-item bg-secondary" (click)="pushView({name: 'assignments'})">
  Assignments
</div>
<div class="list-item bg-secondary" (click)="pushView({name: 'classes'})">
  Classes
</div>
<div class="list-item bg-secondary" (click)="pushView({name: 'courses'})">
  Courses
</div>
<div class="list-item bg-secondary" (click)="pushView({name: 'subjects'})">
  Subjects
</div>
<div class="list-item bg-secondary" (click)="pushView({name: 'teachers'})">
  Teachers
</div>
<div class="list-item bg-secondary" (click)="pushView({name: 'terms'})">
  Terms
</div>
<div class="list-item bg-secondary" (click)="pushView({name: 'tests'})">
  Tests
</div>
