<div class="list-item bg-secondary" (click)="pushView({name: 'calendars'})">
  Calendars
</div>
<div class="list-item bg-secondary" (click)="pushView({name: 'terms'})">
  Terms
</div>
<div class="list-item bg-secondary">
  Teachers
</div>
<div class="list-item bg-secondary">
  Subjects
</div>
<div class="list-item bg-secondary">
  Courses
</div>
<div class="list-item bg-secondary">
  Classes
</div>
<div class="list-item bg-secondary">
  Tests
</div>
<div class="list-item bg-secondary">
  Deliverables
</div>
