<h2 class="filter-row">
  Deliverables
  <button (click)="toggleFilterMenu()" [class]="{'bg-secondary': filterMenuVisible}">
    <i class="material-icons">filter_list</i>
    Filter
  </button>
</h2>
<manage-filter-menu *ngIf="filterMenuVisible" [enabledFilters]="enabledFilters"
  (formChangeEvent)="onFilterChange($event)"></manage-filter-menu>
<div class="list-item bg-secondary" *ngFor="let deliverable of (deliverables$ | async)"
  (click)="goToDeliverable(deliverable)">
  <!-- TODO sort doc lists -->
  {{ deliverable.deadline | date: 'd MMM' }} | {{deliverable.course.subject.code}} {{deliverable.course.code}} |
  {{ deliverable.title }}
</div>
<span class="color-red" *ngIf="!hasDeliverables">
  You haven't added any deliverables.
  <br />
</span>
<br />
<button class="btn-primary" *ngIf="(course$ | async) as course" (click)="goToDeliverable()">
  Click here to add a new deliverable for {{course.subject.code}} {{course.code}}
</button>
<span *ngIf="!(selectedCourseId$ | async)">
  To add new deliverables, select a course in the top filter first
</span>
