<h2 class="filter-row">
  Terms
  <button (click)="toggleFilterMenu()" [class]="{'bg-secondary': filterMenuVisible}">
    <i class="material-icons">filter_list</i>
    Filter
  </button>
</h2>
<manage-filter-menu *ngIf="filterMenuVisible" [enabledFilters]="enabledFilters"
  (formChangeEvent)="onFilterChange($event)"></manage-filter-menu>
<div class="list-item bg-secondary" *ngFor="let term of (terms$ | async)" (click)="goToTerm(term)">
  {{term.calendar?.year ? term.calendar.year + ' - ' : ''}}{{term.name}}
</div>
<span class="color-red" *ngIf="!hasTerms">
  You haven't added any school terms.
  <br />
</span>
<br />
<button class="btn-primary" *ngIf="(calendar$ | async) as calendar" (click)="goToTerm()">
  Click here to add a new term for {{calendar.year}}
</button>
<span *ngIf="!(selectedCalendarId$ | async)">
  To add new terms, select a calendar in the top filter first
</span>
