@import url("../../../styles/host.css");

.home-card {
  max-width: calc(100% - 0.875rem);
  margin-left: 1.5rem;
  margin-bottom: 1.25rem;
  --home-card-font-size: 18px;
  font-size: var(--home-card-font-size);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-card-date {
  margin: 1rem 0 2.5rem 0.625rem;
  font-weight: 500 !important;
}

.home-card-label {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
  font-weight: 400;
}

.home-card .home-card-location {
  display: flex;
  margin-top: 5px;
  margin-left: 0.3125rem;
  align-items: center;
  font-weight: 500;
}

.home-card .home-card-location i {
  margin-right: 5px;
}

.home-card .home-card-time {
  color: var(--color-accent);
  margin-right: 0.3125rem;
}

.home-card-class,
.home-card-assignment,
.home-card-reminder,
.home-card-test {
  cursor: pointer;
}

.home-card-assignment .home-card-assignment-percent {
  margin-top: 5px;
  margin-left: 0.3125rem;
  font-weight: 400;
}

.home-card-reminder .home-card-reminder-done {
  display: flex;
  margin-top: 5px;
  align-items: center;
  font-weight: 500;
}

.home-card-reminder .home-card-reminder-done i {
  width: var(--home-card-font-size);
  margin-right: 5px;
  font-size: var(--home-card-font-size) !important;
}

.home-card-test .home-card-time {
  color: var(--color-red);
}

.load-more {
  margin-top: 2rem;
}
