<span [ngSwitch]="databaseStatus">
  <div *ngSwitchCase="'initialising'" class="content">
    <div class="status-box">
      <h2 class="loading">Loading</h2>
      <p>Scholar is initialising its application database.</p>
    </div>
  </div>
  <div *ngSwitchCase="'failed'" class="content">
    <div class="status-box">
      <h2 class="error">Error</h2>
      <p>
        Scholar was denied access to the application database. Please follow the instructions &lt;here&gt; to fix this.
      </p>
    </div>
  </div>
  <div *ngSwitchCase="'connected'" class="content">
    <div class="header">
      <h1>Manage</h1>
      <app-logout-button class="logout"></app-logout-button>
    </div>
    <h3 class="color-accent go-back" *ngIf="view.name != 'calendars'" (click)="goBack()">
      <br />
      &nbsp;&lt;&emsp;Go Back
    </h3>
    <br />
    <div class="loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <span [ngSwitch]="view.name">
      <div *ngSwitchCase="'calendars'">
        <span class="color-muted">
          Scroll past this section for more options.
        </span>
        <h2>List of Calendars</h2>
        <div class="list-item bg-secondary" *ngFor="let calendar of view.list"
          (click)="navigateToView('calendar', calendar._id)">
          {{calendar.year}}
        </div>
        <span class="color-red" *ngIf="view.list.length == 0">
          You haven't added any academic calendars.
          <br />
        </span>
        <button class="btn-primary" (click)="navigateToView('calendar')">
          Click here to add a new calendar.
        </button>
        <br />
        <br />
        <h2>List of Subjects</h2>
        <div class="list-item bg-secondary" *ngFor="let subject of view.subjects"
          (click)="navigateToView('subject', subject._id)">
          {{subject.code}} / {{subject.name}}
        </div>
        <span class="color-red" *ngIf="view.subjects.length == 0">
          You haven't added any subjects.
          <br />
        </span>
        <button class="btn-primary" (click)="navigateToView('subject')">
          Click here to add a new subject.
        </button>
      </div>
      <div *ngSwitchCase="'calendar'">
        <h2>{{!view.model ? 'Create a New Calendar' : 'Editing Calendar: ' + view.model.year}}</h2>
        <h3 class="remove-object color-red" *ngIf="!!view.model" (click)="removeCalendar(view.model)">
          Remove this calendar
        </h3>
        <form [formGroup]="view.form" (ngSubmit)="view.submit()">
          <label class="input">
            Calendar year:
            <input type="number" formControlName="year" [class]="{'invalid-input': !view.form.get('year').valid}">
            <span class="color-red" *ngIf="!view.form.get('year').valid">
              <br />
              The calendar year must be a number and cannot be earlier than last year.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <button class="btn-accent" type="submit" [disabled]="!view.form.valid">
            Save
          </button>
          <span class="color-red" *ngIf="!view.form.valid">
            Some values you entered are invalid. Please check above.
          </span>
        </form>
        <span *ngIf="!!view.model">
          <br />
          <br />
          <span class="color-muted">
            Scroll past this section for more options.
          </span>
          <h2>List of Terms in this Calendar</h2>
          <div class="list-item bg-secondary" *ngFor="let term of view.list"
            (click)="navigateToView('term', term._id, view.model._id)">
            {{term.name}}
          </div>
          <span class="color-red" *ngIf="view.list.length == 0">
            You haven't added any school terms.
            <br />
          </span>
          <br />
          <button class="btn-primary" (click)="navigateToView('term', null, view.model._id)">
            Click here to add a new term.
          </button>
          <br />
          <br />
          <h2>List of Teachers</h2>
          <div class="list-item bg-secondary" *ngFor="let teacher of view.teachers"
            (click)="navigateToView('teacher', teacher._id, view.model._id)">
            {{teacher.firstName}} {{teacher.lastName}}
          </div>
          <span class="color-red" *ngIf="view.teachers.length == 0">
            You haven't added any teachers.
            <br />
          </span>
          <button class="btn-primary" (click)="navigateToView('teacher', null, view.model._id)">
            Click here to add a new teacher.
          </button>
        </span>
      </div>
      <div *ngSwitchCase="'term'">
        <h2>{{!view.model ? 'Add a New Term' : 'Editing Term: ' + view.model.name + ' ' + view.model.calendar.year}}
        </h2>
        <h3 class="remove-object color-red" *ngIf="!!view.model" (click)="removeTerm(view.model)">
          Remove this term
        </h3>
        <form [formGroup]="view.form" (ngSubmit)="view.submit()">
          <label class="input">
            Name:
            <input type="text" formControlName="name" [class]="{'invalid-input': !view.form.get('name').valid}">
            <span class="color-red" *ngIf="!view.form.get('name').valid">
              <br />
              The term name must start with a letter or number and only contain alphanumeric characters or spaces.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Start:
            <input type="date" formControlName="start" max="{{view.form.get('end').value | date:'yyyy-MM-dd'}}"
              [class]="{'invalid-input': !view.form.get('start').valid}">
            <span class="color-red" *ngIf="!view.form.get('start').valid">
              <br />
              The term cannot start after it ends and cannot start before its calendar starts
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            End:
            <input type="date" formControlName="end" min="{{view.form.get('start').value | date:'yyyy-MM-dd'}}"
              [class]="{'invalid-input': !view.form.get('end').valid}">
            <span class="color-red" *ngIf="!view.form.get('end').valid">
              <br />
              The term cannot end before it starts and cannot end after its calendar ends
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <button class="btn-accent" type="submit" [disabled]="!view.form.valid">
            Save
          </button>
          <span class="color-red" *ngIf="!view.form.valid">
            Some values you entered are invalid. Please check above.
          </span>
        </form>
        <span *ngIf="!!view.model">
          <br />
          <br />
          <h2>List of Courses in this Term</h2>
          <div class="list-item bg-secondary" *ngFor="let course of view.list"
            (click)="navigateToView('course', course._id, view.model._id)">
            {{course.code}} / {{course.name}}
          </div>
          <span class="color-red" *ngIf="view.list.length == 0">
            You haven't added any courses to this term.
            <br />
          </span>
          <br />
          <button class="btn-primary" (click)="navigateToView('course', null, view.model._id)">
            Click here to add a new course.
          </button>
        </span>
      </div>
      <div *ngSwitchCase="'course'">
        <h2>
          {{!view.model ? 'Add a New Course' : 'Editing Course: ' + view.model.subject.code + ' ' + view.model.code}}
        </h2>
        <h3 class="remove-object color-red" *ngIf="!!view.model" (click)="removeCourse(view.model)">
          Remove this course
        </h3>
        <form [formGroup]="view.form" (ngSubmit)="view.submit()">
          <label class="input">
            Code:
            <input type="text" formControlName="code" [class]="{'invalid-input': !view.form.get('code').valid}">
            <span class="color-red" *ngIf="!view.form.get('code').valid">
              <br />
              The course code must be an alphanumeric string with no spaces.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Name:
            <input type="text" formControlName="name" [class]="{'invalid-input': !view.form.get('name').valid}">
            <span class="color-red" *ngIf="!view.form.get('name').valid">
              <br />
              The course name must start with a letter or number and only contain alphanumeric characters or spaces.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Subject:
            <select formControlName="subject">
              <option value="">--Please select a subject--</option>
              <option *ngFor="let subject of view.subjects" value="{{subject._id}}">
                {{subject.code}} / {{subject.name}}
              </option>
            </select>
            <span class="color-red" *ngIf="!view.form.get('subject').valid">
              <br />
              The subject you specified doesn't exist.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Teacher:
            <select formControlName="teacher">
              <option value="">--Optionally, select a teacher--</option>
              <option *ngFor="let teacher of view.teachers" value="{{teacher._id}}">
                {{teacher.firstName}} {{teacher.lastName}}
              </option>
            </select>
            <span class="color-red" *ngIf="!view.form.get('teacher').valid">
              <br />
              The teacher you specified doesn't exist.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <button class="btn-accent" type="submit" [disabled]="!view.form.valid">
            Save
          </button>
          <span class="color-red" *ngIf="!view.form.valid">
            Some values you entered are invalid. Please check above.
          </span>
        </form>
        <span *ngIf="!!view.model">
          <br />
          <br />
          <span class="color-muted">
            Scroll past this section for more options.
          </span>
          <h2>List of Classes in this Course</h2>
          <div class="list-item bg-secondary" *ngFor="let class of view.list"
            (click)="navigateToView('class', class._id, view.model._id)">
            {{class.code}}
          </div>
          <span class="color-red" *ngIf="view.list.length == 0">
            You haven't added any classes to this course.
            <br />
          </span>
          <br />
          <button class="btn-primary" (click)="navigateToView('class', null, view.model._id)">
            Click here to add a new class.
          </button>
          <br />
          <br />
          <span class="color-muted">
            Scroll past this section for more options.
          </span>
          <h2>List of Tests in this Course</h2>
          <div class="list-item bg-secondary" *ngFor="let test of view.tests"
            (click)="navigateToView('test', test._id, view.model._id)">
            {{test.date | date:'d MMM'}} | {{test.title}}
          </div>
          <span class="color-red" *ngIf="view.tests.length == 0">
            You haven't added any tests to this course.
            <br />
          </span>
          <br />
          <button class="btn-primary" (click)="navigateToView('test', null, view.model._id)">
            Click here to add a new test.
          </button>
          <br />
          <br />
          <h2>List of Deliverables in this Course</h2>
          <div class="list-item bg-secondary" *ngFor="let deliverable of view.deliverables"
            (click)="navigateToView('deliverable', deliverable._id, view.model._id)">
            {{deliverable.deadline | date:'d MMM'}} | {{deliverable.title}}
          </div>
          <span class="color-red" *ngIf="view.deliverables.length == 0">
            You haven't added any deliverables to this course.
            <br />
          </span>
          <br />
          <button class="btn-primary" (click)="navigateToView('deliverable', null, view.model._id)">
            Click here to add a new deliverable.
          </button>
        </span>
      </div>
      <div *ngSwitchCase="'class'">
        <h2>
          {{!view.model ? 'Add a New Class' : 'Editing Class: ' + view.model.course.subject.code + ' ' + view.model.course.code + ' ' + view.model.code}}
        </h2>
        <h3 class="remove-object color-red" *ngIf="!!view.model" (click)="removeClass(view.model)">
          Remove this class
        </h3>
        <form [formGroup]="view.form" (ngSubmit)="view.submit()">
          <label class="input">
            Code:
            <input type="text" formControlName="code" [class]="{'invalid-input': !view.form.get('code').valid}">
            <span class="color-red" *ngIf="!view.form.get('code').valid">
              <br />
              The class code must be an alphanumeric string with no spaces.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Start:
            <input type="time" formControlName="start" [max]="view.form.get('end').value"
              [class]="{'invalid-input': !view.form.get('start').valid}">
            <span class="color-red" *ngIf="!view.form.get('start').valid">
              <br />
              The class cannot start after it ends and cannot start before its term starts
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            End:
            <input type="time" formControlName="end" [min]="view.form.get('start').value"
              [class]="{'invalid-input': !view.form.get('end').valid}">
            <span class="color-red" *ngIf="!view.form.get('end').valid">
              <br />
              The class cannot end before it starts and cannot end after its term ends
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <div formGroupName="repeat">
            Days:
            <br />
            <label class="checkbox">
              Sunday
              <input type="checkbox" formControlName="SUNDAY">
            </label>
            <label class="checkbox">
              Monday
              <input type="checkbox" formControlName="MONDAY">
            </label>
            <label class="checkbox">
              Tuesday
              <input type="checkbox" formControlName="TUESDAY">
            </label>
            <label class="checkbox">
              Wednesday
              <input type="checkbox" formControlName="WEDNESDAY">
            </label>
            <label class="checkbox">
              Thursday
              <input type="checkbox" formControlName="THURSDAY">
            </label>
            <label class="checkbox">
              Friday
              <input type="checkbox" formControlName="FRIDAY">
            </label>
            <label class="checkbox">
              Saturday
              <input type="checkbox" formControlName="SATURDAY">
            </label>
            <div class="label-floor"></div>
          </div>
          <br />
          <label class="input">
            Teacher:
            <select formControlName="teacher">
              <option value="">--Please select a teacher--</option>
              <option *ngFor="let teacher of view.teachers" value="{{teacher._id}}">
                {{teacher.firstName}} {{teacher.lastName}}
              </option>
            </select>
            <span class="color-red" *ngIf="!view.form.get('teacher').valid">
              <br />
              The teacher you specified doesn't exist.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input pick-object">
            Location:
            <input type="text" formControlName="location">
            <div class="btn btn-inverse" (click)="pickLocation(view.form.get('location'))">
              Set a location
            </div>
            <br />
          </label>
          <br />
          <button class="btn-accent" type="submit" [disabled]="!view.form.valid">
            Save
          </button>
          <span class="color-red" *ngIf="!view.form.valid">
            Some values you entered are invalid. Please check above.
          </span>
        </form>
      </div>
      <div *ngSwitchCase="'test'">
        <h2>
          {{!view.model ? 'Add a New Test' : 'Editing Test: ' + view.model.course.subject.code + ' ' + view.model.course.code + ' | ' + view.model.title}}
        </h2>
        <h3 class="remove-object color-red" *ngIf="!!view.model" (click)="removeTest(view.model)">
          Remove this test
        </h3>
        <form [formGroup]="view.form" (ngSubmit)="view.submit()">
          <label class="input">
            Title:
            <input type="text" formControlName="title" [class]="{'invalid-input': !view.form.get('title').valid}">
            <span class="color-red" *ngIf="!view.form.get('title').valid">
              <br />
              The test title must start with a letter or number and only contain alphanumeric characters or spaces.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Date:
            <input type="datetime-local" formControlName="date"
              [class]="{'invalid-input': !view.form.get('date').valid}">
            <span class="color-red" *ngIf="!view.form.get('date').valid">
              <br />
              The test date cannot occur before its course's term starts or after the term ends.
            </span>
            <div class="label-floor"></div>
          </label>
          <label class="input pick-object">
            Location:
            <input type="text" formControlName="location">
            <div class="btn btn-inverse" (click)="pickLocation(view.form.get('location'))">
              Set a location
            </div>
            <br />
          </label>
          <br />
          <label class="input">
            Score percent:
            <input type="number" formControlName="scorePercent"
              [class]="{'invalid-input': !view.form.get('scorePercent').valid}">
            <span class="color-red" *ngIf="!view.form.get('scorePercent').valid">
              <br />
              The test score must be a number between 0 and 100 incluisive.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Description:
            <input type="text" formControlName="description"
              [class]="{'invalid-input': !view.form.get('description').valid}">
            <span class="color-red" *ngIf="!view.form.get('description').valid">
              <br />
              The test description must be a string.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <button class="btn-accent" type="submit" [disabled]="!view.form.valid">
            Save
          </button>
          <span class="color-red" *ngIf="!view.form.valid">
            Some values you entered are invalid. Please check above.
          </span>
        </form>
      </div>
      <div *ngSwitchCase="'deliverable'">
        <h2>
          {{!view.model ? 'Add a New Deliverable' : 'Editing Deliverable: ' + view.model.course.subject.code + ' ' + view.model.course.code + ' | ' + view.model.title}}
        </h2>
        <h3 class="remove-object color-red" *ngIf="!!view.model" (click)="removeDeliverable(view.model)">
          Remove this deliverable
        </h3>
        <form [formGroup]="view.form" (ngSubmit)="view.submit()">
          <label class="input">
            Title:
            <input type="text" formControlName="title" [class]="{'invalid-input': !view.form.get('title').valid}">
            <span class="color-red" *ngIf="!view.form.get('title').valid">
              <br />
              The deliverable title must start with a letter or number and only contain alphanumeric characters or
              spaces.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Deadline:
            <input type="datetime-local" formControlName="deadline"
              [class]="{'invalid-input': !view.form.get('deadline').valid}">
            <span class="color-red" *ngIf="!view.form.get('deadline').valid">
              <br />
              The deliverable deadline cannot occur before its course's term starts or after the term ends.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Percent complete:
            <input type="number" formControlName="percentComplete"
              [class]="{'invalid-input': !view.form.get('percentComplete').valid}">
            <span class="color-red" *ngIf="!view.form.get('percentComplete').valid">
              <br />
              The complete percentage must be a number between 0 and 100 incluisive.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Description:
            <input type="text" formControlName="description"
              [class]="{'invalid-input': !view.form.get('description').valid}">
            <span class="color-red" *ngIf="!view.form.get('description').valid">
              <br />
              The deliverable description must be a string.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <button class="btn-accent" type="submit" [disabled]="!view.form.valid">
            Save
          </button>
          <span class="color-red" *ngIf="!view.form.valid">
            Some values you entered are invalid. Please check above.
          </span>
        </form>
      </div>
      <div *ngSwitchCase="'subject'">
        <h2>
          {{!view.model ? 'Add a New Subject' : 'Editing Subject: ' + view.model.code}}
        </h2>
        <h3 class="remove-object color-red" *ngIf="!!view.model" (click)="removeSubject(view.model)">
          Remove this subject
        </h3>
        <form [formGroup]="view.form" (ngSubmit)="view.submit()">
          <label class="input">
            Code:
            <input type="text" formControlName="code" [class]="{'invalid-input': !view.form.get('code').valid}">
            <span class="color-red" *ngIf="!view.form.get('code').valid">
              <br />
              The subject code must be an alphanumeric string with no spaces.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Name:
            <input type="text" formControlName="name" [class]="{'invalid-input': !view.form.get('name').valid}">
            <span class="color-red" *ngIf="!view.form.get('name').valid">
              <br />
              The subject name must start with a letter or number and only contain alphanumeric characters or spaces.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Hue:
            <select formControlName="hue">
              <option *ngFor="let hue of util.hues" value="{{hue.value}}">{{hue.name}}</option>
            </select>
            <span class="color-red" *ngIf="!view.form.get('hue').valid">
              <br />
              The hue you specified is not supported.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <button class="btn-accent" type="submit" [disabled]="!view.form.valid">
            Save
          </button>
          <span class="color-red" *ngIf="!view.form.valid">
            Some values you entered are invalid. Please check above.
          </span>
        </form>
      </div>
      <div *ngSwitchCase="'teacher'">
        <h2>{{!view.model ? 'Add a New Teacher' : 'Edit a Teacher'}}
        </h2>
        <h3 class="remove-object color-red" *ngIf="!!view.model" (click)="removeTeacher(view.model)">
          Remove this teacher
        </h3>
        <form [formGroup]="view.form" (ngSubmit)="view.submit()">
          <label class="input">
            First name:
            <input type="text" formControlName="firstName"
              [class]="{'invalid-input': !view.form.get('firstName').valid}">
            <span class="color-red" *ngIf="!view.form.get('firstName').valid">
              <br />
              The teacher's firstName cannot start with a space.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Last name:
            <input type="text" formControlName="lastName" [class]="{'invalid-input': !view.form.get('lastName').valid}">
            <span class="color-red" *ngIf="!view.form.get('lastName').valid">
              <br />
              The teacher's lastName cannot start with a space.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <label class="input">
            Email:
            <input type="email" formControlName="email" [class]="{'invalid-input': !view.form.get('email').valid}">
            <span class="color-red" *ngIf="!view.form.get('email').valid">
              <br />
              The email you entered is invalid.
            </span>
            <div class="label-floor"></div>
          </label>
          <br />
          <button class="btn-accent" type="submit" [disabled]="!view.form.valid">
            Save
          </button>
          <span class="color-red" *ngIf="!view.form.valid">
            Some values you entered are invalid. Please check above.
          </span>
        </form>
      </div>
    </span>
  </div>
</span>
