<span [ngSwitch]="databaseStatus">
  <div *ngSwitchCase="'initialising'" class="content">
    <div class="status-box">
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
      <h2 class="loading">Launching</h2>
      <p>Scholar is initialising its application database.</p>
    </div>
  </div>
  <div *ngSwitchCase="'login'" class="content">
    <div class="status-box">
      <h2 class="loading">Pardon the interruption</h2>
      <p>To enable backups (and to verify that you are human), you must login to use Scholar</p>
      <button class="btn-accent" (click)="login()">Login with Google</button>
    </div>
  </div>
  <div *ngSwitchCase="'failed'" class="content">
    <div class="status-box">
      <h2 class="error">Error</h2>
      <p>
        <!-- TODO fix <here> -->
        Scholar was denied access to the application database. Please follow the instructions &lt;here&gt; to fix this.
      </p>
    </div>
  </div>
  <div *ngSwitchCase="'connected'" class="content" infiniteScroll (scrolled)="onScroll()">
    <div *ngFor="let card of cards" [ngSwitch]="card.type">
      <!-- <pre>{{stringify(card.data)}}</pre> -->
      <h2 *ngSwitchCase="'date'" class="home-card-date">
        {{card.data | date:'EEEE, d MMM'}}
      </h2>
      <p *ngSwitchCase="'no_data'" class="home-card-label">
        &lt; nothing for this week &gt;
      </p>
      <p *ngSwitchCase="'class'" class="home-card home-card-class"
        [ngStyle]="{'color': util.parseHue(card.data.course.subject.hue).darker}"
        (click)="navigateToView('class', card.data._id)">
        <span class="home-card-label">
          <i class="material-icons">class&nbsp;</i>
          Class
        </span>
        <span class="home-card-time">{{util.convert24HrTo12Hr(card.data.start)}}</span>
        {{card.data.course.subject.code}} {{card.data.course.code}} {{card.data.code}}
        <span class="home-card-location" *ngIf="card.data.location">
          <br />
          <i class="material-icons">place</i>
          {{card.data.location.name}}
        </span>
      </p>
      <p *ngSwitchCase="'deliverable'" class="home-card home-card-deliverable"
        [ngStyle]="{'color': util.parseHue(card.data.course.subject.hue).darker}"
        (click)="navigateToView('deliverable', card.data._id)">
        <span class="home-card-label color-orange">
          <i class="material-icons">done&nbsp;</i>
          Deliverable
        </span>
        <span class="home-card-time">{{card.data.deadline | date:'h:mm a'}} </span>
        {{card.data.course.subject.code}} {{card.data.course.code}} {{card.data.title}}
        <br />
        <span class="home-card-deliverable-percent">{{card.data.percentComplete}}% complete</span>
      </p>
      <p *ngSwitchCase="'reminder'" class="home-card home-card-reminder"
        [ngStyle]="{'color': util.parseHue(card.data.evaluationComponent.course.subject.hue).darker}">
        <span class="home-card-label">
          <i class="material-icons">info_outline&nbsp;</i>
          Reminder
        </span>
        <span class="home-card-time">{{card.data.schedule.start | date:'h:mm a'}} </span>
        {{card.data.evaluationComponent.course.subject.code}} {{card.data.evaluationComponent.course.code}}
        {{card.data.evaluationComponent.title}} super long reminder name or just any name to be honest
        <span class="home-card-reminder-done" (click)="toggleReminderDone(card.data)">
          <i class="material-icons">{{card.data.done ? 'check_box' : 'check_box_outline_blank'}}</i>
          {{!card.data.done ? 'Mark as done' : 'Mark as not done'}}
        </span>
      </p>
      <p *ngSwitchCase="'test'" class="home-card home-card-test"
        [ngStyle]="{'color': util.parseHue(card.data.course.subject.hue).darker}"
        (click)="navigateToView('test', card.data._id)">
        <span class="home-card-label color-red">
          <i class="material-icons">mode_edit&nbsp;</i>
          Test
        </span>
        <span class="home-card-time">{{card.data.date | date:'h:mm a'}} </span>
        {{card.data.course.subject.code}} {{card.data.course.code}} {{card.data.title}}
        <span class="home-card-location" *ngIf="card.data.location">
          <br />
          <i class="material-icons">{{card.data.location.seat ? 'event_seat' : 'place'}}</i>
          <span *ngIf="card.data.location.seat">{{card.data.location.seat}} |&nbsp;</span>
          {{card.data.location.name}}
        </span>
      </p>
    </div>
    <div class="center-content load-more" *ngIf="!loading">
      <button class="btn-primary" (click)="loadMore()">Load next week</button>
    </div>
    <!-- TODO marker for when you've crossed a calendar, term, or week -->
  </div>
</span>
<div id="initialLoadMarker"></div>
